{% extends 'rango/base.html' %}
{% block title %}Add new category{% endblock %}
{% block body_block %}
    <h1>Add new category</h1>
    {% if category_added %}
            <p>Category added successfully</p>
        {% endif %}
        <form id="category_form" method="post" enctype="multipart/form-data" action="/rango/categories/add/">
            {% csrf_token %}
            Category title: <input type="text" name="category_title" value="" size="50"/>
            <input type="submit" value="Add" name="add_category"/>
            <button formaction="/rango/categories/">Cancel</button>
        </form>
{% endblock %}